# Compiled Lua Source
lauc.out

# Luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object Files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Header
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared Objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

plugin/packer_compiled.lua
